<template name="summary">
	<div id="summary">
		<div class="title row-fluid">
			<div class="base-info span12">
				<div class="name">
					<span class="firstname">{{firstname}}</span> <span class="lastname">{{lastname}}</span>
				</div>
				<div><img class="avatar" alt="" src="{{avatar_url}}" /></div>
				<div><span class="subtitle">INNOVATIVE WEB APP DESIGNER &amp; DEVELOPER WITH TONS OF PASSION</span></div>
			</div>
			<div class="contact span12">
				{{#if location}}
					<div><i class="ss-home"></i>{{location}}</div>
				{{/if}}
				<div><i class="ss-github"></i>&nbsp;{{html_url}}</div>
				<div><i class="ss-mail"></i>&nbsp;{{email}}</div>
			</div>
		</div>
	</div>
</template>