<template name="summary">
	<div id="summary">
		<div class="title row-fluid">
			<div class="base-info span12">
				<div class="name">
					<span class="firstname">SEAN</span> <span class="lastname">YANG</span>
				</div>
				<div><img class="avatar" alt="" src="//cdn.shopify.com/s/files/1/0249/7745/files/me.JPG?192" /></div>
				<div><span class="subtitle">INNOVATIVE WEB APP DESIGNER &amp; DEVELOPER WITH TONS OF PASSION</span></div>
			</div>
			<div class="contact span12">
				<div><i class="ss-home"></i>&nbsp;1044&nbsp;OTTENBRITE&nbsp;CR.&nbsp;OTTAWA,&nbsp;ON&nbsp;K2T&nbsp;0G1</div>
				<div><i class="ss-phone"></i>&nbsp;6133559972</div>
				<div><i class="ss-mail"></i>&nbsp;XIAOFANY@HOTMAIL.COM</div>
			</div>
		</div>
	</div>
</template>