<template name="timeline">
  <div id="timeline_description"></div>
  <div id="timeline">  
  
    <p class="timeline_title">Timeline</p>
    <ul class="timeline_list">
      <li class="timeline_entry"  zoom="13" id="active" key="2013">Now</li>
      <li class="timeline_entry"  zoom="13" key="2012">2012</li>
      <li class="timeline_entry"  zoom="13" key="2011">2011</li>
      <li class="timeline_entry"  zoom="13" key="2010">2010</li>
      <li class="timeline_entry"  zoom="13" key="2009">2009</li>
      <li class="timeline_entry"  zoom="13" key="2008">2008</li>
      <li class="timeline_entry"  zoom="13" key="2007">2007</li>
      <li class="timeline_entry"  zoom="13" key="2006">2006</li>
      <li class="timeline_entry"  zoom="13" key="2005">2005</li>
      <li class="timeline_entry"  zoom="13" key="2004">2004</li>
      <li class="timeline_entry"  lat="40.2484111" lon=" -78.36084690000001" zoom="7" key="2003">2003</li>
      <li class="timeline_entry"  zoom="13" key="2001">2001</li>
      <li class="timeline_entry"  zoom="13" key="2000">2000</li>
    	<li class="timeline_entry"  zoom="3" key="1981">1981 Nov 20</li>
    
    </ul>
  </div>
</template>