<head>
  <title>Something about me</title>

  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
  <script src="http://cdn.leafletjs.com/leaflet-0.6.2/leaflet.js"></script>
  <script src="/leaflet/leaflet_numbered_markers.js"></script>
  <script src="/font/ss-pika.js"></script>
  <script src="/font/ss-social.js"></script>
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:100,200,300,400,500,600,700" rel="stylesheet" type="text/css">
</head>

<body>
	{{> header}}

	{{#if currentUser}}
		{{> summary }}
		{{> timeline }}
		{{> timeline_modal}}
		{{> map }}
	{{/if}}


</body>



