<template name="header">
	<div id="nav">
		<div class="navbar-inner">
			<div class="container">
				<div class="nav pull-right">
					{{> user_info}}
				</div>
			</div>
		</div>
	</div>
</template>

<template name="user_info">
	<ul class="nav pull-right">
		{{#if currentUser}}
			{{> user_loggedin}}
		{{else}}
			{{> user_loggedout}}
		{{/if}}
	</ul>
</template>

<template name="user_loggedin">
	{{#if loggingIn}}
		<li><a>Logging in...</a></li>
	{{else}}
		<div class="control">
			<span id="logout">LOG OUT</span>
			<img class="avatar-img" src="{{currentUser.profile.avatar_url}}"/>
		</div>
	{{/if}}
</template>

<template name="user_loggedout">
	<li>
		<div class="login_options" id="login" type="GitHub"><i class="ss-octocat"></i></div>
	</li>
	<div id="login_info"></div>
</template>