<template name="header">
	<div id="nav">
		<div class="navbar-inner">
			<div class="container">
				<div class="nav pull-right">
					{{> user_info}}
				</div>
			</div>
		</div>
	</div>
</template>

<template name="user_info">
	<ul class="nav pull-right">
		{{#if currentUser}}
			{{> user_loggedin}}
		{{else}}
			{{> user_loggedout}}
		{{/if}}
	</ul>
</template>

<template name="user_loggedin">
	{{#if loggingIn}}
		<li><a>Logging in...</a></li>
	{{else}}
		<li>
			<img class="avatar-img" src="{{currentUser.profile.avatar_url}}"/>
		</li>
		<li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">
				{{currentUser.profile.name}}
				<b class="caret"></b>
			</a>
			<ul class="dropdown-menu">
				<li><a>Account Settings</a></li>
				<li class="divider"></li>
				<li><a id="logout">Logout</a></li>
			</ul>
		</li>
	{{/if}}
</template>

<template name="user_loggedout">
	<li>
		<div class="login_options" id="login" type="GitHub"><i class="ss-octocat"></i></div>
	</li>
	<div id="login_info"></div>
</template>